* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5E376D;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hangman-container {
    background-color: #fff;
    padding: 60px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#hangman-image img {
    max-width: 270px;
   
}

h1 {
    color: #333;
    font-size: 1.8rem;
    margin-top: 20px;
}

.game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

    .game-info .game-name
    {   font-size:2rem;
        flex: 1;
        text-align: center;
    }

      

.word-display {
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

    .word-display .letter {
        width: 28px;
        height: 28px;
        border-bottom: 3px solid #000;
        text-align: center;
        font-size: 1.2rem;
        line-height: 28px;
    }

.hint-text {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

#incorrect-letters {
    color: #ff0000;
    font-size: 1.1rem;
}

#letter-buttons {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 350px; /* Limit width for better layout on larger screens */
}
#letter-buttons button[disabled]{
    opacity:0.6;
    pointer-events:none;
}
button {
    padding: 6px 3px;
    background-color: #424651;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    /*resize:both;*/
}

    button:hover {
        background-color: #4e7d53;
    }

.hangman-image {
    height: 324px;
    width: 100%;
    max-width: 300px; /* Limit width for better layout on larger screens */
    background-color: #f8f8f8;
    border-radius: 10px;
   
}

/* Add animation for hangman parts */
.the-hang,
.the-rope,
.the-man {
    transition: all 0.3s ease-in-out;
}

/* Animation for incorrect guesses */
.incorrect-guess {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Game over modal */
.game-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    pointer-events:none;
    z-index:999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    transition:opacity 0.4s ease;
}
    .game-modal.show {
        opacity: 1;
        pointer-events: auto;
     
    }
    .game-modal .content {
        background: #fff;
        max-width: 200px;
        width: 100%;
        text-align: center;
        border-radius: 10px;
        padding: 30px;
    }

    .game-modal h4 {
        font-size: 1.2rem;
    }

    .game-modal p {
        font-size: 1.1rem;
        margin: 15px 0 30px;
        font-weight: 500;
    }

        .game-modal p b {
            color: grey;
            font-weight: 600;
        }
