
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #CDD193;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0px 10px;
    box-sizing: border-box;
}

.hangman-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.game-info {
    display: flex;
}

    .game-info .game-name {
        flex: 1;
        margin-left: 150px;
    }

    .game-info .category {
        flex: 1;
        margin-left: 150px;
        text-align: left;
    }

        .game-info .category.span {
            text-transform: capitalize;
            color: beige;
            font-weight: bold;
        }

.word-display {
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

    .word-display .letter {
        width: 28px;
        border-bottom: 3px solid #000;
    }

h3 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

#incorrect-letters {
    color: #ff0000;
    margin-bottom: 10px;
}

#letter-buttons {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 10px;
    outline: none;
    border: none;
    background-color: #fff;
}

.game-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.6);
}

    .game-modal .content {
        background: #fff;
        max-width: 200px;
        width: 100%;
        text-align: center;
        border-radius: 10px;
        padding: 30px;
    }

    .game-modal h4 {
        font-size: 1.20rem;
    }

    .game-modal p {
        font-size: 1.15rem;
        margin: 15px 0 30px;
        font-weight: 500;
    }

        .game-modal p b {
            color: grey;
            font-weight: 600;
        }

    .game-modal button {
        padding: 12px 23px;
        background-color: #2F5233;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .game-modal button:hover {
            background-color: #2F5233;
        }

.hangman-image {
    height: 324px;
    background-color: #f8f8f8;
    margin: 20px auto;
    border-radius: 10px;
}

button {
    padding: 12px 23px;
    background-color: #2F5233;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #2F5233;
    }
/* For small screens */
@media screen and (max-width: 600px) {
    .game-info {
        flex-direction: column;
        align-items: center;
    }

        .game-info .game-name,
        .game-info .category {
            margin-left: 0;
            text-align: center;
        }

    .hangman-container {
        padding: 10px;
    }

    .word-display .letter {
        width: 20px;
    }

    .game-modal .content {
        max-width: 80%;
    }

    .hangman-image {
        height: auto;
    }
}

/* For medium screens */
@media screen and (min-width: 601px) and (max-width: 900px) {
    .game-info .game-name,
    .game-info .category {
        margin-left: 50px;
    }
}

/* For large screens */
@media screen and (min-width: 901px) {
    .game-info .game-name,
    .game-info .category {
        margin-left: 150px;
    }
}

